* { box-sizing: border-box; }

body {
    font-family: helvetica;
    font-size: 10pt;
    background-color: #252525;
    color: #F9F7F4; 
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    background-color: #535353;
    border-right: 1px solid #C347B9;
}

h1 {
    margin: 0;
    padding: 0;
}
h1 a {
    color: #F9F7F4;
    text-decoration: none;
}
header {
    background-color: #444;
    padding: 3px;
    height: 45px;
}
.byby {
    color: #C347B9;
}
#byline a {
    color: #913389;
}
#byline {
    margin-top: 12px;
}

#h-one {
    height: 28px;
    overflow: hidden;
    color: #fff;
    margin-left: 0px;
}
#h-two {
    margin-top: -30px;
    height: 11px;
    color: #222;
    overflow: hidden;
}

#controls {
    margin-top: 10px;
    padding: 8px 0px 8px 8px;
}

#buttons {
    margin-top: 15px;
}

#output {
    margin-left: 245px;
    text-align: center;
}

#main_image {
    display: none;
}

#controls > div {
    height: 24px;
    line-height: 12px;
}

#controls label {
    display: block;
    float: left;
    width: 100px;
    padding: 0;
    margin-top: 3px;
}

input[type="text"] {
    width: 72px;
    background-color: #4A4A4A;
    border: 1px solid #444;
    color: #999;
}

input[type="range"] {
    width: 110px;
}

input[type="range"]:disabled {
    opacity: 0.2;
}

#dragn {
    height: 60px;
    border: 1px dashed #999;
    background-color: #4A4A4A;
    line-height: 3em;
    text-align: center;
    padding: 10px;
    color: #999;
    margin: 8px;
}

.hover {
    background-color: #aaa !important;
}

#png_output {
    width: 33%;
    padding: 8px;
}

#output_canvas img {
    max-width: 90%;
    max-height: 90%;
}

#cam {
    
}