* { box-sizing: border-box; }

body {
    font-family: helvetica;
    font-size: 10pt;
    background-color: #252525;
    color: #F9F7F4;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    background-color: #050505;/*#535353*/;
    border-right: 1px solid #C347B9;
}

h1 {
    margin: 0;
    padding: 0;
}
h1 a {
    color: #F9F7F4;
    text-decoration: none;
}
header {
    /*background-color: #444;*/
    background-image: url(../images/jpgcrunk.png);
    padding: 3px;
    height: 80px;
}
.byby {
    color: #C347B9;
    font-size: 20pt;
}
#byline a {
    color: #913389;
    position: absolute;
    top: 49px;
    left: 28px;
}
#byline {
    margin-top: 12px;
}

#h-one {
    height: 28px;
    overflow: hidden;
    color: #fff;
    margin-left: 0px;
    display:none;
}
#h-two {
    margin-top: -30px;
    height: 11px;
    color: #222;
    overflow: hidden;
    display:none;
}

#crunker1 {
    width: 6px;
    height: 120px;
    background-color: blue;
    position: absolute;
    left: 239px;
    top: 0;
    background-color: #050505;/*#535353*/;
    border-right: 1px solid #C347B9;
}

#controls {
    margin-top: 10px;
    padding: 8px 0px 8px 8px;
}

#buttons {
    margin-top: 15px;
}

#output {
    margin-left: 245px;
    text-align: center;
}

#main_image {
    display: none;
}

#controls > div {
    height: 24px;
    line-height: 12px;
}

#controls label {
    display: block;
    float: left;
    width: 100px;
    padding: 0;
    margin-top: 3px;
}

input[type="text"] {
    width: 72px;
    background-color: #4A4A4A;
    border: 1px solid #444;
    color: #999;
}

input[type="range"] {
    width: 110px;
}

input[type="range"]:disabled {
    opacity: 0.2;
}

#dragn {
    height: 60px;
    border: 1px dashed #999;
    background-color: #4A4A4A;
    line-height: 3em;
    text-align: center;
    padding: 10px;
    color: #999;
    margin: 8px;
}

.hover {
    background-color: #aaa !important;
}

#png_output {
    width: 33%;
    padding: 8px;
}
#output_canvas {
    margin-top: 30px;
}

#output_canvas img {
    max-width: 90%;
    max-height: 90%;
}

input[type="range"]::-webkit-slider-runnable-track {}
input[type="range"]::-webkit-slider-thumb {}
input[type="range"]::-moz-range-thumb {
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 0px;
  background-image: url('../images/btnRange1.png');
}




button {
    border: 0;
    text-indent: -9999em;
    width: 52px;
    height: 25px;
    background-size: 100%;
}
#next_button { background-image: url('../images/btnNext.png'); }
#prev_button { background-image: url('../images/btnPrev.png'); }
#run_button { background-image: url('../images/btnRun.png'); }
#png_button { background-image: url('../images/btnMakePng.png'); }
#rnd { background-image: url('../images/btnRnd.png'); }
