body {
    font-family: helvetica;
    font-size: 9pt;
}
#controls {
    width: 230px;
    float: left;
    min-height: 100%;
    height: 100%;
    background-color: #efefef;
    padding: 4px;
    margin-right: 4px;
}
#output {

    margin-left: 245px;
    text-align: center;
}

#main_image {
    display: none;
}

label {
    display: inline-block;
    width: 140px;
}

input[type=text] {
    width: 80px;
}

#holder {
    margin-right: 3px;
    margin-top: 20px;
    height: 40px;
    border: 1px dashed #888;
    background-color: #f7f7f7;
    line-height: 3em;
    text-align: center;
    padding: 10px;
    color: #888;
}
.hover {
    background-color: #aaa !important;
}